/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --common-color: #088178;
  --black-color: #222;
  --white-color: #fff;
  --common-transition: all 0.5s ease;
  --FW-700: 700;
  --FW-600: 600;
  --FW-500: 500;
}
/*=============== Custom CSS ============ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
h1 {
  font-size: 60px;
  line-height: 64px;
  color: var(--black-color);
}
h2 {
  font-size: 56px;
  line-height: 54px;
  color: var(--black-color);
}
h4 {
  font-size: 25px;
  color: var(--black-color);
}
h6 {
  font-size: 18px;
  font-weight: var(--FW-700);
}
p {
  font-size: 20px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
button.normal {
  font-size: 18px;
  font-weight: var(--FW-600);
  background-color: var(--white-color);
  color: var(--black-color);
  transition: var(--common-transition);
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  border: none;
}
button.white {
  font-size: 16px;
  font-weight: var(--FW-600);
  background-color: transparent;
  color: var(--white-color);
  transition: var(--common-transition);
  padding: 10px 25px;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--white-color);
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
body {
  width: 100%;
}
/*=============== Custom CSS ============ */
/* ==============Home Page ================= */
/* ===========Header CSS ================ */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: var(--FW-600);
  color: #1a1a1a;
  transition: var(--common-transition);
}
#navbar li a:hover,
#navbar li a.active {
  color: var(--common-color);
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: var(--common-color);
  bottom: -4px;
  left: 20px;
}
#mobile,
#close {
  display: none;
  align-items: center;
}
#hero {
  background-image: url("../img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: var(--common-color);
}
#hero button {
  background-image: url("../img/button.png");
  background-color: transparent;
  color: var(--common-color);
  border: 0;
  font-size: 20px;
  font-weight: var(--FW-700);
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  background-repeat: no-repeat;
}
/* ===========Header CSS ================ */
/* ============features CSS================= */
#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#features .fea-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  transition: var(--common-transition);
}
#features .fea-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#features .fea-box img {
  width: 100%;
  margin-bottom: 10px;
}
#features .fea-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  color: var(--common-color);
  background-color: #fddde4;
  border-radius: 5px;
}
#features .fea-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#features .fea-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#features .fea-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#features .fea-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#features .fea-box:nth-child(6) h6 {
  background-color: #fff2e5;
}
/* ============features CSS================= */
/* ===========Featured Section ============== */
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 0;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: var(--common-transition);
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 18px;
  font-weight: var(--FW-500);
}
#product1 .pro .des h5 {
  font-size: 20px;
  padding-top: 5px;
  color: #1a1a1a;
}
#product1 .pro .des i {
  font-size: 13px;
  color: rgb(243, 181, 25);
  padding: 3px 0px;
}
#product1 .pro .des h4 {
  font-size: 20px;
  font-weight: var(--FW-700);
  padding-top: 5px;
  color: var(--common-color);
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: var(--FW-500);
  color: var(--common-color);
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 15px;
  right: 10px;
}
/* ===========Featured Section ============== */
/* ==========Banner Section =============== */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
}
#banner h4 {
  font-size: 22px;
  color: var(--white-color);
  letter-spacing: 0.6px;
}
#banner h2 {
  font-size: 40px;
  color: var(--white-color);
  letter-spacing: 0.6px;
  padding: 10px 0;
}
#banner span {
  color: #ef3636;
}
#banner button:hover {
  background-color: var(--common-color);
  color: var(--white-color);
}
/* ==========Banner Section =============== */
/* ===========Action Banner Section =========== */
#sm-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../img/banner/b17.jpg");
  min-width: 580px;
  height: 50vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
}
#sm-banner .banner-box2 {
  background-image: url("../img/banner/b10.jpg");
}
#sm-banner h4 {
  font-size: 24px;
  font-weight: var(--FW-500);
  color: var(--white-color);
}
#sm-banner h2 {
  font-size: 40px;
  font-weight: var(--FW-700);
  color: var(--white-color);
}
#sm-banner span {
  color: var(--white-color);
  font-size: 18px;
  margin-bottom: 15px;
}
#sm-banner .banner-box:hover button {
  background-color: var(--common-color);
  border: 1px solid var(--common-color);
}
/* ===========Action Banner Section =========== */
/* =============Text Banner Section ============ */
#text-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#text-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../img/banner/b7.jpg");
  width: 31%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin-bottom: 20px;
}
#text-banner .banner-box2 {
  background-image: url("../img/banner/b4.jpg");
}
#text-banner .banner-box3 {
  background-image: url("../img/banner/b18.jpg");
}
#text-banner h2 {
  font-size: 22px;
  color: var(--white-color);
  font-weight: 800;
}
#text-banner h3 {
  font-size: 18px;
  color: #f33e37;
  font-weight: 600;
}
/* =============Text Banner Section ============ */

/* =============NewsLatter Section ============ */
#newslatter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../img/banner/b14.png");
  background-color: #041e42;
}
#newslatter h4 {
  font-size: 25px;
  color: var(--white-color);
  font-weight: 800;
}
#newslatter p {
  font-size: 18px;
  font-weight: var(--FW-600);
  color: #818ea0;
}
#newslatter p span {
  color: #ffbd27;
}
#newslatter .form {
  display: flex;
  width: 40%;
}
#newslatter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 16px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newslatter button {
  background-color: var(--common-color);
  white-space: nowrap;
  color: var(--white-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* =============NewsLatter Section ============ */
/* ===============Footer Section ============== */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 20px;
}
footer h4 {
  font-size: 20px;
  padding-bottom: 20px;
}
footer p {
  font-size: 18px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 18px;
  text-decoration: none;
  color: var(--black-color);
  margin-bottom: 10px;
  font-weight: var(--FW-500);
  transition: var(--common-transition);
  letter-spacing: 0.3px;
}
footer .follow {
  margin-top: 10px;
}
footer .follow i {
  padding: 4px;
  color: #465b52;
  cursor: pointer;
  transition: var(--common-transition);
}
footer .install .row img {
  border: 1px solid var(--common-color);
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: var(--common-color);
}
footer .copyright {
  width: 100%;
  text-align: center;
}
/* ===============Footer Section ============== */
/* ==============Home Page ================= */

/* ==================Shop Page====================== */
/* ============Shop page Header ==================== */
#shop-header {
  background-image: url("../img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  padding: 14px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#shop-header h2,
#shop-header p {
  color: var(--white-color);
}
/* ============Shop page Header ==================== */
/* =============Shop Page pagination============ */
#pagination {
  text-align: center;
}
#pagination a {
  background-color: var(--common-color);
  color: var(--white-color);
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: var(--FW-600);
}
#pagination a i {
  font-size: 15px;
}
/* =============Shop Page pagination============ */
/* ==================Shop Page====================== */
/* =============Single Product page ============= */
#product-details {
  display: flex;
  margin-top: 20px;
}
#product-details .single-product-img {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#product-details .single-product-details {
  width: 50%;
  padding-top: 30px;
}
#product-details .single-product-details h4 {
  padding: 40px 0 10px 0;
}
#product-details .single-product-details h2 {
  font-size: 30px;
}
#product-details .single-product-details select {
  display: block;
  padding: 6px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-color: var(--common-color);
  outline: none;
}
#product-details .single-product-details input {
  width: 45px;
  height: 40px;
  font-size: 18px;
  padding-left: 10px;
  margin-right: 15px;
  font-weight: var(--FW-600);
  border-color: var(--common-color);
  outline: none;
}
#product-details .single-product-details input:focus {
  outline: none;
}
#product-details .single-product-details button {
  background-color: var(--common-color);
  color: var(--white-color);
  font-size: 16px;
}
#product-details .single-product-details p {
  line-height: 25px;
  letter-spacing: 0.3px;
}
/* =============Single Product page ============= */

/* ===============Blog Page section ================ */
#shop-header.blog-header {
  background-image: url("../img/banner/b19.jpg");
}
#blogs {
  padding: 150px 150px 0 150px;
}
#blogs .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blogs .blog-box .blog-img {
  width: 50%;
  margin-right: 50px;
}
#blogs .blog-box .blog-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blogs .blog-box .blog-details {
  width: 50%;
}
#blogs .blog-box .blog-details p {
  line-height: 25px;
}
#blogs .blog-box .blog-details a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: var(--FW-600);
  letter-spacing: 0.4px;
  position: relative;
  transition: var(--common-transition);
}
#blogs .blog-box .blog-details a::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: var(--black-color);
  top: 5px;
  right: -72px;
}
#blogs .blog-box .blog-details a:hover {
  color: var(--common-color);
}
#blogs .blog-box .blog-details a:hover::after {
  background-color: var(--common-color);
}
#blogs .blog-box h1 {
  position: absolute;
  top: -38px;
  left: 0;
  font-size: 80px;
  font-weight: 800;
  color: #c9cbce;
  z-index: -9;
}
/* ===============Blog Page section ================ */
/* ==============About Page Section =================== */
#shop-header.about-header {
  background-image: url("../img/about/banner.png");
}
#about-head {
  display: flex;
  align-items: center;
}
#about-head img {
  width: 50%;
  height: auto;
}
#about-head div {
  padding-left: 40px;
}
#about-head div p {
  line-height: 22px;
  letter-spacing: 0.3px;
}
#about-head abbr {
  font-size: 20px;
  letter-spacing: 0.5px;
}

/* ===============About app section =============== */
#about-app h1 {
  text-align: center;
}
#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* ==============About Page Section =================== */

/* ==================Media Query Section=============== */
/* ============Home Page Media Quarry tab============= */
@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    height: 100vh;
    width: 300px;
    top: 0;
    right: -300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
    padding: 80px 0 0 10px;
    transition: var(--common-transition);
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 30px;
  }
  #mobile,
  #close {
    display: flex;
    align-items: center;
  }
  #mobile i {
    font-size: 25px;
    color: #1a1a1a;
    padding-left: 20px;
  }
  #close {
    font-size: 26px;
    color: var(--black-color);
    position: absolute;
    top: 30px;
    left: 30px;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0px 80px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }
  #sm-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #newslatter .form {
    width: 70%;
  }
  /* =============Blog section=============== */
  #blogs {
    padding: 150px 100px 0 100px;
  }
}

/* ============Home Page Media Quarry mobile============= */
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px 20px;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    background-position: 55%;
    padding: 0px 20px;
  }
  h2 {
    font-size: 38px;
  }
  h1 {
    font-size: 48px;
  }
  #features .fea-box {
    width: 168px;
    margin: 0 0 15px 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #text-banner {
    padding: 0 20px;
  }
  #text-banner .banner-box {
    width: 100%;
  }
  #newslatter .form {
    width: 100%;
  }
  footer .copyright {
    text-align: start;
  }

  /* single product section  */
  #product-details {
    display: flex;
    flex-direction: column;
  }
  #product-details .single-product-img {
    width: 100%;
    margin-right: 0px;
  }
  #product-details .single-product-details {
    width: 100%;
    padding-top: 40px;
  }
  /* =============Blog section ============= */
  #blogs {
    padding: 100px 30px 0 30px;
  }
  #blogs .blog-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  #blogs .blog-box .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blogs .blog-box .blog-details {
    width: 100%;
  }
}

/* ============Home Page Media Quarry============= */

/* ==================Media Query Section=============== */
